<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Historique des Générations</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>🧠 Historique</h1>
<a href="/logout">Déconnexion</a>
{% for prompt, url, time in history %}
    <div class="card">
        <p><b>Prompt :</b> {{ prompt }}</p>
        <p><b>Date :</b> {{ time }}</p>
        <img src="{{ url }}" width="300">
    </div>
{% endfor %}
    </div>
</body>
</html>
